<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myApp">
        {{lista}}
        <br>
        <h2>Elementos</h2>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>

        </ul>
        <h2>Estudiantes</h2>
        <ul>
            <li>{{lista[0].nombre}} - {{lista[0].apellido}} - {{lista[0].edad}}</li>
            <li>{{lista[1].nombre}} - {{lista[1].apellido}} - {{lista[1].edad}}</li>
            <li>{{lista[2].nombre}} - {{lista[2].apellido}} - {{lista[2].edad}}</li>
            <li>{{lista[3].nombre}} - {{lista[3].apellido}} - {{lista[3].edad}}</li>
            <li>{{lista[4].nombre}} - {{lista[4].apellido}} - {{lista[4].edad}}</li>

        </ul>

        <h2>Directiva Vue: v-for</h2>
        <ul>
            <li v-for="item in lista">{{item.nombre}} - {{item.apellido}} - {{item.edad}}</li>
        </ul>

        <h2>Desestructuracion</h2>
        <ul>
            <li v-for="{nombre, apellido, edad} in lista">{{nombre}} - {{apellido}} - {{edad}}</li>
        </ul>

        <h2>Desestructuracion Parcial</h2>
        <ul>
            <li v-for="{nombre} in lista">{{nombre}}</li>
        </ul>
        <h2>Lista Reportes</h2>
    
        <ul>
            <li v-for="{nombre, apellido, edad} in lista">
                <h3>{{nombre}}</h1>
                <h4>{{apellido}}</h2>
                <blockquote>{{edad}}</blockquote>
            </li>
       
        </ul>
        <h2>Lista Reporte Final</h2>
    
        <ul>
            <li v-for="{nombre, apellido, edad} in lista">
                <h3>{{nombre}} - {{apellido}} - {{edad}}</h3>
                
            </li>
       
        </ul>


        <button v-on:click="agregarEstudiante">Agregar Estudiante</button>
    </div>
    <script src="../js/estudiante.js"></script>

</body>
</html>